.hidden {
  display: none;
}
/* ----------------basic styles--------------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-style: normal;
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1 {
  margin-top: 0;
}
h2,
h3,
h4,
p {
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  font-family: inherit;
  outline: none;
}
/* mobail styles*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* tablet styles*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* laptop styles*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*----------------heder--------------------------*/
/* mobail styles*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-page-heder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-heder-span {
  color: #2e2f42;
}
.logo-header {
  padding: 16px 0;
  display: block;
}
.menu-button {
  padding: 16px 0;
  display: block;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 320px) {
  .page-heder-list,
  .page-header-address {
    display: none;
  }
}
/* tablet styles*/
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .page-header-nav {
    display: flex;
    align-items: center;
  }
  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }
  .page-header-address {
    display: flex;
    margin-left: auto;
  }
  .page-header-address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .page-heder-list {
    display: flex;
    gap: 40px;

    align-items: center;
  }

  .page-header-list-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    padding: 24px 0;
  }
  .page-header-address {
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    font-style: normal;
    color: #2e2f42;
  }
  .page-header-list-link,
  .page-header-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header-list-link:hover,
  .page-header-list-link:focus,
  .page-header-address-link:hover,
  .page-header-address-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header-list-link.activ {
    position: relative;
    color: #404bbf;
  }
  .page-header-list-link.activ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}
/* laptop styles*/
@media screen and (min-width: 1158px) {
  .page-header-address-list {
    flex-direction: row;
  }
  .logo-header {
    margin-right: 76px;
  }
  .page-header-list-link {
    font-size: 16px;
  }
  .page-header-address-link {
    display: block;
    padding: 24px 0;
  }
}
/*----------------section page main--------------------------*/
/* mobail styles*/

.page-main {
  position: relative;
  background-size: cover;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 72px 0;
  background-color: rgb(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heder-images/people-office-mob@1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page-main {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heder-images/people-office-mob@2x.jpg);
  }
}

.page-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 72px;
}

.page-main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-main-button:hover,
.page-main-button:focus {
  background-color: #404bbf;
}

/* tablet styles*/
@media screen and (min-width: 768px) {
  .page-main {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heder-images/people-office-tab@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .page-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/heder-images/people-office-tab@2x.jpg);
    }
  }
  .page-main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

/* laptop styles*/
@media screen and (min-width: 1158px) {
  .page-main {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heder-images/people-office-ds@1x.jpg);

    max-width: 1440px;
    padding: 188px 0;
  }
  .page-main-title {
    font-size: 56px;
    margin-bottom: 48px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .page-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/heder-images/people-office-ds@2x.jpg);
    }
  }
}
/*----------------section benefists--------------------------*/
/* mobail styles*/
.benefits {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-icon {
  display: none;
}
.benefits-list-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  display: block;
  margin-bottom: 8px;
}
.benefits-list-item-text {
  font-weight: 500;
  line-height: 1.5;
}
.benefits-list-item:not(:last-child) {
  margin-bottom: 72px;
}
/* tablet styles*/
@media screen and (min-width: 768px) {
  .benefits-list-item-title {
    text-align: left;
  }
  .benefits-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-item-title {
    margin-bottom: 8px;
  }
  .benefits-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
/* laptop styles*/
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .container-icon {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
  .icon {
    fill: #2e2f42;
  }
  .benefits-list {
    justify-content: center;
  }
  .benefits-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-list-item-text {
    font-weight: 400;
    line-height: 1.5;
  }

  .benefits-list-item {
    max-width: 264px;
    width: calc((100% - 3 * 24px) / 4);
  }
}

/*----------------section team--------------------------*/
/* mobail styles*/
.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list-item {
  max-width: 264px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-list-item:not(:last-child) {
  margin-bottom: 72px;
}
.team-list-item-img {
  width: 100%;
  height: 100%;
}
.container-text {
  padding: 32px 16px;
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-item-text {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.container-link-team {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
}
.container-link-team-item {
  width: 40px;
  height: 40px;
}
.link-team {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-team:hover,
.link-team:focus {
  background-color: #404bbf;
}
.icon-link-team {
  fill: #f4f4fd;
}
/* tablet styles*/
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
  }
  .team-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
/* laptop styles*/
@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list-item {
    max-width: 264px;
    width: calc((100% - 3 * 24px) / 4);
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}
/*----------------section portfolio--------------------------*/
/* mobail styles*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  justify-content: center;
  text-align: left;
}
.portfolio-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 288px;
}
.portfolio-list-item:not(:last-child) {
  margin-bottom: 48px;
}
.portfolio-list-item-container-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-list-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-list-item-img {
  max-width: 100%;
  height: auto;
}
.portfolio-list-item-text {
  font-weight: 400;
  line-height: 1.5;
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #f4f4fd;

  font-weight: 400;
  line-height: 1.5;

  padding: 40px 32px;
}
.portfolio-list-item:hover .portfolio-box-overlay,
.portfolio-list-itemx:focus .portfolio-box-overlay {
  transform: translateY(0);
}

/* tablet styles*/
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-item,
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-list-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }
}
/* laptop styles*/
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    max-width: 360px;
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/*----------------footer--------------------------*/
/* mobail styles*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.page-footer-conteiner,
.footer-social-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}

.logo-footer-span,
.page-footer-text {
  color: #f4f4fd;
}
.footer-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.page-footer-text {
  font-weight: 400;
  line-height: 1.5;
  max-width: 288px;
}
.page-footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.container-link-footer {
  display: flex;
  gap: 16px;
}
.link-footer-item {
  width: 40px;
  height: 40px;
}
.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-footer {
  fill: #f4f4fd;
}
.icon-footer {
  margin-left: 16px;
  fill: #fff;
}
.link-footer:hover,
.link-footer:focus {
  background-color: #31d0aa;
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
  color: #fff;
}

.footer-input:hover,
.footer-input:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 2px solid #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-conteiner-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
/* tablet styles*/
@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: flex-start;
    padding-left: 108px;
  }
  .page-footer-conteiner,
  .footer-social-links {
    margin-bottom: 0;
    align-items: flex-start;
  }
  .page-footer-text {
    max-width: 264px;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    max-width: 264px;
  }
  .footer-button {
    min-width: 165px;
  }
  .footer-conteiner-form {
    align-items: flex-start;
  }
}
/* laptop styles*/
@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-conteiner {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
  }
  .page-footer-conteiner {
    margin-right: 120px;
  }
  .footer-social-links {
    margin-right: 80px;
  }
  .footer-conteiner-form {
    margin-left: auto;
  }
  .footer-form {
    gap: 24px;
  }
}
/*----------------menu--------------------------*/
/* mobail styles*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu-container {
  height: 100%;
  background: #fff;
}
.menu-close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 24px;
}
.menu-icon {
  fill: #2e2f42;
}

.container-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 40px 16px;
}
.menu-nav {
  flex-grow: 1;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: auto;
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.menu-nav-link,
.menu-address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link:hover,
.menu-nav-link:focus,
.menu-address-link:hover,
.menu-address-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link.activ {
  position: relative;
  color: #404bbf;
}
.menu-nav-link.activ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.menu-address {
  margin-top: auto;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}
.menu-address-item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-address-link.tel {
  color: #4d5ae5;
}
.container-link-menu {
  display: flex;
  gap: 40px;
}
.link-menu-item {
  width: 40px;
  height: 40px;
}
.link-menu {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link-menu {
  fill: #f4f4fd;
}
.link-menu:hover,
.link-menu:focus {
  background-color: #31d0aa;
}

/*----------------modal--------------------------*/
/* mobail styles*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon:hover .modal-icon,
.modal-close-icon:focus .modal-icon {
  fill: #fff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  display: block;
  margin-bottom: 16px;
}
.form-item {
  margin-bottom: 8px;
  min-width: 256px;
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-conteiner-input {
  position: relative;
}
.modal-input:hover,
.modal-input:focus,
.modal-input:active,
.comment:hover,
.comment:focus,
.comment:active {
  border-color: #4d5ae5;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon,
.modal-input:active + .form-icon {
  fill: #4d5ae5;
}
.comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment-conteiner {
  margin-bottom: 16px;
}
.checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.container-checkbox {
  margin-bottom: 24px;
}
.custon-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-modal:checked + .checkbox .spam-icon,
.checkbox-modal:checked + .checkbox .custon-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button-modal {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button-modal:hover,
.button-modal:focus,
.button-modal:active {
  background: #404bbf;
}
/* tablet styles*/
@media screen and (min-width: 768px) {
  .modal-conteiner {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .form-item {
    min-width: 360px;
  }
}
